.appointments-list {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.appointments-list h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.appointments-list ul {
    list-style-type: none;
    padding: 0;
}

.appointments-list li {
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*border-bottom: 1px solid #ddd;*/
}

.appointments-list li:last-child {
    border-bottom: none;
}

.appointments-list li:nth-child(odd) {
    background-color: #f1f1f1;
}

.appointments-list .appointments-name {
    font-weight: bold;
    color: #555;
}

.appointments-list .appointments-score {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.spli {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
